<div class="dropdown">
  <a class="dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-ellipsis-v cursor-pointer"></i>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'Edit', edit_post_path(post.id), class: 'dropdown-item' %>
    <%= link_to 'Delete', post_path(post.id), method: :delete, class: 'dropdown-item' %>
  </div>
</div>
