// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-actions {
  i {
    font-size: 26px;
    cursor: pointer;
    margin-right: 8px;
  }
}

.dropdown {
  .dropdown-toggle::after {
    display: none !important;
  }
}
