
<div class='public-container'>
  <h2>SociallySocial</h2>
  <div class="container px-5 ">
    <div class="masthead">
        <img src="https://www.aconsciousrethink.com/wp-content/uploads/2015/08/happy-people.jpg" class="d-block w-100" alt="...">
    </div>
</div>
  <p class='text-muted'>Please log in to continue.</p>
  <div class="mb-3">
    <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary' %>
  </div>
  <span>
    New here? <%= link_to 'Register', new_user_registration_path %>
  </span>
</div>
