<nav class='navbar navbar-light bg-light'>
<div class="container">
            <a class="m-3" alt="brand-logo" href="<%= root_path %>">
              <%= image_tag "https://cdn-icons-png.flaticon.com/512/3501/3501134.png", id: 'logo', style:"width: 3rem"%> 
              </a>
              <%= link_to 'SociallySocial', root_path, class: 'navbar-brand ml-5' %>
        </div>
</nav>
